.iPhone .text {
    color: #000000;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    opacity: 1;
    max-width: 180px;
    width: auto;
    text-align: left;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

    .iPhone .text .reflect {
        z-index: 10;
        width: 100%;
        height: 12px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        margin-right: auto;
        margin-left: auto;
        opacity: 1;
        background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.76) 100%) rgba(255, 255, 255, 0);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.76))) rgba(255, 255, 255, 0);
        clear: both;
        float: right;
    }

    .iPhone .text p {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 16px;
        float: left;
        max-width: 180px;
        position: relative;
        top: -7px;
    }

    .iPhone .text.sent {
        float: right;
        background: -moz-linear-gradient(90deg, #b6e74d 0%, #8fd13e 25.6%, #8acf43 79.9%, #4ab947 100%) #8fd13e;
        background: -webkit-gradient(linear, left bottom, left top, from(#b6e74d), color-stop(0.256, #8fd13e), color-stop(0.799, #8acf43), to(#4ab947)) #8fd13e;
        margin-left: 140px;
        list-style:none;
    }

    .iPhone .text.receive {
        float: left;
        word-wrap: break-word;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#e0e0e0));
        background-image: -moz-linear-gradient(90deg, #e1e1e1 0%, #e0e0e0 100%);
        margin-right: 116px;
        list-style:none;

    }


.iPhone .time {
    margin: 0 auto;
    float: left;
    width: 100%;
    list-style:none;
}

    .iPhone .time p {
        margin-top: 0;
        text-align: center;
        font-size: 12px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.96);
        color: #7c899a;
    }



.conversation {
    display: inline-block;
}
