.center {
    margin:auto;
}

#contacts .row {
    transition: background-color 800ms linear;
}

    #contacts .row:hover {
        background-color: #bce3ff;
    }

#contacts .row {
    background-color: #fff;
}

#contacts h6 {
    color: #808080;
    font-size: small;
}

    #contacts h6 span {
        display: none;
    }

#contacts .row:hover h6 span {
    display: inline-block;
}




#iPhoneBro, #contacts {
    max-height: 468px;
    overflow: auto;
    display:inline-table;
}

footer {
    height:100%;
    background: none repeat scroll 0 0 #333333;
    padding: 24px 0 10px;
}
